{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Registered students{% endblock %}</h4>
{% endblock %}

{% block content %}

    <article class="post">
      <header>
        <div>
        <table id="hor-minimalist-a">
             <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date registered</th><th></th>
            </tr>
          {% for s in students %}
            <tr>
            <td>{{s['username']}}</td>
            <td>{{s['email']}}</td>
            <td>{{ s['registered'].strftime('%d-%b-%Y') }}</td>
            <td>
                {% if g.user['id'] == s['id'] %}
                  <a class="action" href="{{ url_for('auth.update', id=s['id']) }}">Edit</a>
                {% endif %}
            </td></tr>
          {% endfor %}
        </table>
        </div>
      </header>
    </article>

{% endblock %}