{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Log In{% endblock %}</h4>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <div class="center-div">
      <input type="submit" value="Log in" class="btn btn-success" style="width: 100px;">
{#      <a href="{{ url_for('blog.index') }}" style="width: 100px;" class="btn btn-danger">Cancel</a>#}
    </div>

  </form>
{% endblock %}