{% extends 'base.html' %}

{% block header %}
  <h4>{% block title %}Update details for "{{ student['username'] }}"{% endblock %}</h4>
{% endblock %}

{% block content %}
  <form method="post">

    <label for="username">Name</label>
    <input name="username" id="username" value="{{ student['username'] }}" required>


    <label for="email">Email</label>
    <input name="email" id="email" value="{{ student['email'] }}" required>
     <div class="center-div">
        <input type="submit" class="btn btn-primary" style="width: 100px;" value="Save">
     </div>
  </form>
  <hr>

      <form action="{{ url_for('auth.delete', id=student['id']) }}" method="post">
          <div class="center-div">
        <input class="btn btn-danger" style="width: 100px;" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                  </div>
      </form>

{% endblock %}
